.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
}

.form-check {
    margin-top: 7px;
}

.select2-container .select2-selection--single {
    height: calc(2.25rem + 2px)!important;
    border: 1px solid #ced4da!important;
}

.navbar-dark .navbar-nav .nav-link {
    padding-top: 7px;
}

.dataTables_wrapper .pagination {
    float: right;
    text-align: right;
}

.dataTables_wrapper .dataTables_info {
    float: left;
    text-align: left;
}

.dataTables_wrapper .center {
    text-align: center;
}

.dataTables_wrapper .right {
    text-align: right;
    padding-right: .7rem;
    vertical-align: middle;
}

.dataTables_wrapper .table td {
    padding: .3rem;
    padding-left: .7rem;
    vertical-align: middle;
}

.dataTables_wrapper td .btn {
    padding: .15rem;
    padding-left: .7rem;
    padding-right: .7rem;
    /* margin-right: 3px;
    margin-left: 3px; */
}

.dataTables_wrapper .pagination .page-link {
    padding: .2rem .7rem;
}

.navbar .collapse {
    list-style: none;
}

.navbar .collapse .nav-link {
    color: rgba(255, 255, 255, .5);
}

.navbar .collapse>.user-menu>.nav-link:after {
    /* content: none; */
}

.navbar .collapse>.user-menu>.dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0;
    width: 280px;
}

.navbar .collapse>.user-menu>.dropdown-menu,
.navbar .collapse>.user-menu>.dropdown-menu>.user-body {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.navbar .collapse>.user-menu>.dropdown-menu>li.user-header {
    height: 175px;
    padding: 10px;
    text-align: center;
}

.navbar .collapse>.user-menu>.dropdown-menu>li.user-header>img {
    z-index: 5;
    height: 90px;
    width: 90px;
    border: 3px solid;
    border-color: transparent;
    border-color: rgba(255, 255, 255, 0.2);
}

.navbar .collapse>.user-menu>.dropdown-menu>li.user-header>p {
    z-index: 5;
    font-size: 17px;
    margin-top: 10px;
}

.navbar .collapse>.user-menu>.dropdown-menu>li.user-header>p>small {
    display: block;
    font-size: 12px;
}

.navbar .collapse>.user-menu>.dropdown-menu>.user-body {
    border-bottom: 1px solid #495057;
    border-top: 1px solid #dee2e6;
    padding: 15px;
}

.navbar .collapse>.user-menu>.dropdown-menu>.user-body::after {
    display: block;
    clear: both;
    content: "";
}

@media (min-width: 576px) {
    .navbar .collapse>.user-menu>.dropdown-menu>.user-body a {
        background: #ffffff !important;
        color: #495057 !important;
    }
}

.navbar .collapse>.user-menu>.dropdown-menu>.user-footer {
    background-color: #f8f9fa;
    padding: 10px;
}

.navbar .collapse>.user-menu>.dropdown-menu>.user-footer::after {
    display: block;
    clear: both;
    content: "";
}

.navbar .collapse>.user-menu>.dropdown-menu>.user-footer .btn-default:hover {
    background-color: #f8f9fa;
    color: red!important;
}

.navbar .collapse .nav-item a:hover,
.navbar .collapse .nav-item a.dropdown-item:hover {
    color: red!important;
}

.navbar .collapse>.user-menu .user-image {
    border-radius: 50%;
    float: left;
    height: 2.1rem;
    margin-right: 10px;
    margin-top: -2px;
    width: 2.1rem;
}

@media (min-width: 576px) {
    .navbar .collapse>.user-menu .user-image {
        float: none;
        line-height: 10px;
        margin-right: .4rem;
        margin-top: -8px;
    }
}

.select2-selection.is-invalid,
.was-validated .select2-selection:invalid {
    border-color: #dc3545!important;
    padding-right: 2.25rem;
}

.select2-selection.is-valid,
.was-validated .select2-selection:valid {
    border-color: #28a745!important;
    padding-right: 2.25rem;
}